<div class="glue-header h-c-header h-c-header--product-marketing-one-tier">
  <div class="h-c-header__bar">
    <!-- Both the first- and second-tier variants of the hamburger icon are
         included in code, and their display is controlled using BEM modifiers.
         This is done to prevent users of the header from having to figure out
         which HTML to add/remove themselves.
    -->
    <div class="h-c-header__hamburger h-c-header__hamburger--first-tier">
      <div class="h-c-header__hamburger-wrapper">
        <button type="button"
            class="h-js-header__drawer-toggle-link h-c-header__hamburger-link"
            aria-controls="h-js-header__drawer"
            aria-expanded="false"
            title="Open the navigation drawer">
          <svg role="img" aria-label="Navigation" class="h-c-header__hamburger-img
              h-c-header__hamburger-img--standard">
            <use xlink:href="#h-burger"></use>
          </svg>

          <svg role="img" aria-label="Navigation" class="h-c-header__hamburger-img
              h-c-header__hamburger-img--reversed">
            <use xlink:href="#h-burger"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="h-c-header__lockup">
      <div class="h-c-header__company-logo">
        <a href="/releases/latest/hercules/site/"
            class="h-c-header__company-logo-link" title="Google">
          {#
            Both the color and white versions of the google logo
            included in code, and their display is controlled using
            modifiers. This is done to prevent users of the header
            having to figure out which HTML to add/remove themselves.
          #}
          {# <svg role="img" class="h-c-header__company-logo-img
              h-c-header__company-logo-img--standard">
            <use xlink:href="#h-color-google-logo"></use>
          </svg>

          <svg role="img" class="h-c-header__company-logo-img
              h-c-header__company-logo-img--reversed">
            <use xlink:href="#h-white-google-logo"></use>
          </svg> #}
          {% include "components/lockup.jinja" %}
        </a>
      </div>

      <div class="h-c-header__product-logo">
        <a href="https://glue-developer-guide.googlegoro.com/"
            class="h-c-header__product-logo-link">
          <span class="h-c-header__product-logo-text"></span>
        </a>
      </div>

      <a href="#jump-content" class="h-c-header__jump-to-content"
          data-glue-jump-link>
        <span class="h-c-header__jump-to-content-text">Skip to Content</span>
      </a>
    </div>

    <div class="h-c-header__hamburger h-c-header__hamburger--second-tier">
      <div class="h-c-header__hamburger-wrapper">
        <button type="button"
            class="h-c-header__hamburger-link"
            aria-controls="h-js-header__drawer"
            aria-expanded="false"
            aria-label="Open the navigation drawer">
          <svg role="img" class="h-c-header__hamburger-img
              h-c-header__hamburger-img--standard">
            <use xlink:href="#h-burger"></use>
          </svg>

          <svg role="img" class="h-c-header__hamburger-img
              h-c-header__hamburger-img--reversed">
            <use xlink:href="#h-burger"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="h-c-header__initiative-logo">
      <a href="/releases/latest/hercules/site/"
          class="h-c-header__initiative-logo-link">
        <span class="h-c-header__initiative-logo-text">Initiative</span>
      </a>
    </div>
    {#
    <nav class="h-c-header__nav">
      <ul class="h-c-header__nav-list">
        {% for nav_item in nav %}
        <li class="h-c-header__nav-li" aria-level="1">
          <a href="{{nav_item.url}}"
              class="h-c-header__nav-li-link{% if g.page.path == nav_item.url %} h-is-active{% endif %}" glue-smooth-scroll glue-smooth-scroll-duration="500" glue-smooth-scroll-easing="easeInSine">
            {{nav_item.label}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    #}
    <div class="h-c-header__cta">
      <ul class="h-c-header__cta-list">
        {% for nav_item in nav %}
        <li class="h-c-header__cta-li h-c-header__cta-li--secondary">
          <a href="{{nav_item.url}}" class="h-c-header__cta-li-link
              h-c-header__cta-li-link--secondary" glue-smooth-scroll glue-smooth-scroll-duration="500" glue-smooth-scroll-easing="easeInSine">
            {{nav_item.label}}
          </a>
        </li>
        {% endfor %}
        <li class="h-c-header__cta-li h-c-header__cta-li--primary">
          <a href="#modal-content" class="h-c-header__cta-li-link
              h-c-header__cta-li-link--primary" data-glue-modal-trigger="modal">
            Order
          </a>
        </li>
      </ul>
    </div>

    <div class="h-c-header__bar-underside"></div>
  </div>

  <div id="h-js-header__drawer" class="h-c-header__drawer"
      aria-label="Navigation drawer" tabindex="0">
    <div class="h-c-header__drawer-content">
      <div class="h-c-header__drawer-bar">
        <div class="h-c-header__drawer-lockup">
          <div class="h-c-header__drawer-company-logo">
            <div class="h-c-header__drawer-company-logo-link" title="Google">
              <svg role="img" class="h-c-header__drawer-company-logo-img">
                <use xlink:href="#h-color-google-logo"></use>
              </svg>
            </div>
          </div>

          <div class="h-c-header__drawer-product-logo">
            <div class="h-c-header__drawer-product-logo-link">
              <span class="h-c-header__drawer-product-logo-text">Web Standard</span>
            </div>
          </div>
        </div>

        <div class="h-c-header__drawer-initiative-logo">
          <div class="h-c-header__drawer-initiative-logo-link">
            <span class="h-c-header__drawer-initiative-logo-text">Initiative</span>
          </div>
        </div>
      </div>

      <nav class="h-c-header__drawer-nav">
        <ul class="h-c-header__drawer-nav-list">
          {% for nav_item in nav %}
          <li class="h-c-header__drawer-nav-li" aria-level="1">
            <a href="{{nav_item.url}}"
                class="h-c-header__drawer-nav-li-link{% if g.page.path == nav_item.url %} h-is-active{% endif %}">
              {{nav_item.label}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="h-c-header__drawer-cta">
      <ul class="h-c-header__drawer-cta-list">
        <li class="h-c-header__drawer-cta-li h-c-header__drawer-cta-li--secondary">
          <a href="#" class="h-c-header__drawer-cta-li-link
              h-c-header__drawer-cta-li-link--secondary">
            Lorem
          </a>
        </li>
        <li class="h-c-header__drawer-cta-li h-c-header__drawer-cta-li--primary">
          <a href="#" class="h-c-header__drawer-cta-li-link
              h-c-header__drawer-cta-li-link--primary">
            Lorem Ipsum
          </a>
        </li>
      </ul>
    </div>
  </div>

  {#
    TODO (joshmarsh): include drawer backdrop as :before pseudo-element of
    drawer for simplicity and clarity of code
  #}
  <div id="h-js-header__drawer-backdrop" class="h-c-header__drawer-backdrop"></div>
</div>
