<!DOCTYPE html>
<html lang="{{g.page.locale.babel.language}}"{% if g.page and g.page.locale and g.page.locale.lang_is_rtl %} dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <title>{{content.title}}</title>
    <meta name="referrer" content="no-referrer" />
    {#
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="https://storage.googleapis.com/operating-anagram-8280/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/operating-anagram-8280/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/operating-anagram-8280/favicon-16x16.png">
    <link rel="shortcut icon" href="{{'favicon.ico'|static}}">
    #}
    <link rel="icon" type="image/png" sizes="16x16" href="{{'favicon.ico'|static}}">
    <link rel="shortcut icon" href="{{'favicon.ico'|static}}">
    
    <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Google+Sans:400,500|Product+Sans:400&amp;lang=en"> -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Nixie+One' rel='stylesheet' type='text/css'>
    <link href="{{"css/index.min.css"|static}}" rel="stylesheet">
    <script src="{{"js/detect.min.js"|static}}"></script>
    <script type="text/ng-template" id="/glue/modal/modal-template.html">
      {% include "hercules-assets/templates/modal.html" %}
    </script>
  </head>

  <body data-ng-controller="MainController as ctrl">

    <main class="ats-main">

      {% include "components/header.jinja" %}
      {% include "components/hero.jinja" %}
      {% include "components/overview.jinja" %}
      {% include "components/carousel.jinja" %} {# name this gallery #}
      
    </main>

    {# modal #}
    <div
      id="modal-content"
      data-glue-modal="modal"
      data-glue-modal-close-label="{{content.modal_close}}">
    <div class="h-c-grid">
      <div class="h-c-grid__col h-c-grid__col--10 h-c-grid__col--offset-1 h-c-grid__col-l--8 h-c-grid__col-l--offset-2">
        <h2 class="h-c-headline h-c-headline--three">{{content.title}}</h3>
        <p><a href="https://glue-developer-guide.googlegoro.com/releases/latest/hercules/site/docs/components/modal/" target="_blank">{{content.modal_doc}}</a></p>
        <img class="h-u-mt-l" src="{{'creeping-cat.jpg'|static}}" alt="">
      </div>
    </div>
  </div>

    <div class="ats-icons">
      {% include "hercules-assets/icons/svgs.inc.html" %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/{{vars.angular_version}}/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/{{vars.angular_version}}/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/{{vars.angular_version}}/angular-touch.min.js"></script>
    <script src="{{"js/index.min.js"|static}}"></script>
    {#
      This template renders bracket environment info when a ?props url parameter
      is included in a request, otherwise, is noop.
    #}
    {% include "b/utils.jinja" %}
  </body>
</html>
