// Styles for demo page.
.b-demo-u-d-n {
  display: none;
}

.b-demo-page {
  // Fix Hercules header product name/logo alignment.
  .h-c-header__product-logo-link,
  .h-c-header__drawer-product-logo-link {
    padding-top: 3px;
  }

  // Fix Hercules modal close button having border radius.
  .h-c-modal__close {
    border-radius: 0;
  }

  .b-demo-tile__header {
    height: 170px;
    overflow: hidden;
    width: 100%;
  }
}
